In [1]:
from faker import Faker
fake = Faker(['zh_TW'])
Faker.seed(7777)

In [2]:
for _ in range(5):
    print(fake.name())

何雅玲
王郁雯
胡鈺婷
呂懿
熊家豪

In [3]:
import random
from random import randint, choices
import pandas as pd

random.seed(7777)

In [4]:
id_dict = {}
for i in range(1000):
    id_dict[i] = fake.name()

list(id_dict.items())[:5]

[(0, '靳瑋婷'), (1, '劉佳玲'), (2, '王冠廷'), (3, '奚淑貞'), (4, '孟淑娟')]

In [5]:
def save(dataframe, filename):
    dataframe.to_csv(filename, index=False, encoding='utf-8')

In [6]:
stores = pd.read_csv('./raw.csv')
stores.head()

         store_name  手沖  義式  有貓  酒吧  飲料  咖啡
0            甜在心咖啡館   1   1   0   0   0   1
1               曉咖啡   1   1   1   0   0   1
2           Dr.Bean   1   1   0   0   0   1
3          咖啡平方 東安店   0   1   0   0   0   1
4  1/2P Café 陶甕烘焙咖啡   1   0   0   0   0   1

In [7]:
cafe = list(stores[stores['咖啡'] == 1]['store_name'].values)
cafe[:5]

['甜在心咖啡館', '曉咖啡', 'Dr.Bean', '咖啡平方 東安店', '1/2P Café 陶甕烘焙咖啡']

In [8]:
bar = list(stores[stores['酒吧'] == 1]['store_name'].values)
bar[:5]

['在島之後After Island. 餐酒館',
 '鯤島 Khuntor',
 'Bar TCRC 前科累累俱樂部',
 'Bären Biergelden 貝倫啤酒館',
 '朝茶暮酒 Bar - MinLife Store']

In [9]:
drinks = list(stores[stores['飲料'] == 1]['store_name'].values)
drinks[:5]

['双生綠豆沙牛奶', '甜又鮮飲料', 'Silver Coin 銀兩', '木子樑室', '黃氏波霸奶茶專賣店']

In [10]:
def choose_store(type):
    prefix = fake.company_prefix()
    if type == 0:
        return prefix + choices(cafe)[0]
    elif type == 1:
        return prefix + choices(bar)[0]
    else:
        return prefix + choices(drinks)[0]

def create_stores(num):

    data = pd.DataFrame()
    for i in range(num):
        data.loc[i, 'store_id'] = i
        data.loc[i, 'type'] = randint(0, 2)
        data.loc[i, 'name'] = choose_store(data.loc[i, 'type'])

        data[list(['store_id'])] = data[list(['store_id'])].astype(int).astype(bytes)
        data[list(['type'])] = data[list(['type'])].astype(int)

    return data

stores = create_stores(10000)
stores = stores.sort_values(by=['store_id'])
save(stores, './stores.csv')

In [11]:
stores.head()

     store_id  type                        name
0        b'0'     0               國中鋼鐵猫毛珈琲（原猫門）
1        b'1'     1  天中電視Bären Biergelden 貝倫啤酒館
10      b'10'     2      豐兆國際商業銀行Silver Coin 銀兩
100    b'100'     1           達廣電腦籠裏 Bar Lonely
1000  b'1000'     2               明陽海運老賴茶棧台南文賢店

In [12]:
def create_ratings(num):

    data = pd.DataFrame()
    for i in range(num):
        data.loc[i, 'id'] = randint(0, 999)
        data.loc[i, 'name'] = id_dict[data.loc[i, 'id']]
        data.loc[i, 'store_id'] = randint(0, 9999)
        data.loc[i, 'store_name'] = stores[stores['store_id'].astype(int) == data.loc[i, 'store_id']]['name'].values[0]
        data.loc[i, 'rating'] = randint(1, 5)

        data[list(['id', 'store_id'])] = data[list(['id', 'store_id'])].astype(bytes)
        data[list(['rating'])] = data[list(['rating'])].astype(int)

    return data

users = create_ratings(10000)
users = users.sort_values(by=['id', 'store_id'])
save(users, './users.csv')

In [13]:
users.head()

        id name store_id                    store_name  rating
4521  b'0'  靳瑋婷  b'3454'  塑台石化The Sober Foodie 食上主義餐酒館       5
5201  b'0'  靳瑋婷  b'4205'                      華中郵政巷隅咖啡       2
7729  b'0'  靳瑋婷  b'6433'                    達宏國際電子啤酒超市       4
7577  b'0'  靳瑋婷  b'6497'                豐兆國際商業銀行東楓咖啡茶飲       3
5852  b'0'  靳瑋婷  b'6564'                      天上雜誌波哥茶飲       4